<ul class="breadcrumb">
  <li><a href="/ideas/">Ideas </a><span class="divider">/</span></li>
  <li class="active">Edit</li>
</ul>

<fieldset>
	<legend>Editing idea</legend>
	<%= render 'form' %>
</fieldset>
