<ul class="breadcrumb">
  <li><a href="#">Ideas </a><span class="divider">/</span></li>
  <li class="active">New</li>
</ul>

<fieldset>
	<legend>New idea</legend>
	<%= render 'form' %>
</fieldset>


<%= link_to 'Back', ideas_path %>
