<h3>New comment in your Idea</h3>

<p><b>Idea name:</b> <%= @comment.idea.title %></p>

<p><b>Comment:</b> <%= @comment.description %></p>

<p><b>Commented by:</b> <%= @comment.user.name %></p>

<p>Access <%= root_url %> to read better this comment.</p>