
<section data-bind="foreach: ideasGroupRows">
	<div class="row-fluid" data-bind="foreach: $data">

		<div class="span4">
			<div class="idea" data-bind="attr: {'data-idea': id, 
										'data-positive': $root.percentPositive($data),
										'data-negative': $root.percentNegative($data)}">
				<div class="idea-content">
					<header>
						<!-- User logo -->
						<img class="img-polaroid user-img"  src="http://gravatar.com/avatar/2d62e386c079f824fe7f0c8e8e83128b?s=140" />
						<!-- Idea content -->
						<a href="#" data-bind="click: $root.selectIdea"><h3 data-bind="text: title"></h3></a>
					</header>

					<div class="idea-description" data-bind="text: description"></div>

					<div class="percentage-votes-values">
						<ul>
							<li>
								<i class="icon-thumbs-down"></i>
								<span class="amount-vote" data-bind="text: negative"></span>
								<em class="amount-vote-percentage" data-bind="text: '(' + $root.percentNegative($data) + '%)'"></em>
							</li>
							<li>
								<i class="icon-thumbs-up"></i>
								<span class="amount-vote" data-bind="text: positive"></span>
								<em class="amount-vote-percentage" data-bind="text: '(' + $root.percentPositive($data) + '%)'"></em>
							</li>
						</ul>
					</div>
				</div>
				<a href="#" class="percentage-votes-bar">
					<span class="percentage-vote btn-danger"
							data-toggle="tooltip" 
						 	data-placement="bottom"
						 	data-bind="text: $root.percentNegative($data), 
						 				attr: {'data-original-title': $root.percentNegative($data) + '%'},
						 				style: {'width': $root.percentNegative($data) + '%'}"></span>
					<span class="percentage-vote btn-success"
							data-toggle="tooltip" 
						 	data-placement="bottom" 
						 	data-bind="text: $root.percentPositive($data), 
						 				attr: {'data-original-title': $root.percentPositive($data) + '%'},
						 				style: {'width': $root.percentPositive($data) + '%'}"></span>
				</a>
			</div>
		</div>

	</div>

	<div id="wrapper-full-idea" data-bind="with: $root.selected">
		<div id="arrow"></div>
		<div id="full-idea" data-bind="attr: {'data-idea': id }">
			<header>
				<!-- User logo -->
				<img class="img-polaroid user-img"  src="http://gravatar.com/avatar/2d62e386c079f824fe7f0c8e8e83128b?s=140" />
				<!-- Idea content -->
				<h3 data-bind="text: title"></h3>
			</header>

			<div class="idea-description" data-bind="text: description"></div>

			
			<div class="do-you-like-bar">
				<span>Do you like?</span>

				<!-- Buttons thumbs -->
				<button type="button" class="idea-like btn btn-success"
					data-bind="click: $root.like"
					data-toggle="tooltip" 
					data-placement="bottom" 
					data-original-title="Yep, nice idea!">
					<i class="icon-thumbs-up" data-bind="text: positive"></i>
				</button>
				<button type="button" class="idea-unlike btn btn-danger"
					data-bind="click: $root.unlike"
					data-toggle="tooltip" 
					data-placement="bottom" 
					data-original-title="Nope, bad idea!">
					<i class="icon-thumbs-down" data-bind="text: negative"></i>
				</button>

				<a href="#" class="btn-comments"
					data-toggle="tooltip" 
					data-placement="bottom" 
					data-original-title="I would like comment about it.">
					<i class="icon-comments-alt"></i> Comments
				</a>
			</div>

			<div class="group-comments">
				<div class="comment">
					<!-- <a class="btn btn-success btn-mini button-thumbs disabled" href="#" disabled>
						<i class="icon-thumbs-up"></i>
					</a> -->
					<img class="img-polaroid user-img"  src="http://gravatar.com/avatar/2d62e386c079f824fe7f0c8e8e83128b?s=140" />
					<p>I liked. We should try it.</p>
					<div class="clear"></div>
				</div>


				<div class="comment">
					<!-- <a class="btn btn-danger btn-mini button-thumbs disabled" href="#" disabled>
						<i class="icon-thumbs-down"></i>
					</a> -->
					<img class="img-polaroid user-img"  src="http://gravatar.com/avatar/2d62e386c079f824fe7f0c8e8e83128b?s=140" />
					<p>I don't know. Japanese is too hard.</p>
					<div class="clear"></div>
				</div>

				<div class="new-comment">
					<h4>What do you think?</h4>
					<textarea placeholder="I think..."></textarea>
					<br>
					<a class="idea-unlike btn btn-primary btn-small" href="#">
						<i class="icon-comment-alt"> Comment</i>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
