/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 #header-main {

 }

 #header-main h2 {
 	margin-bottom: 0;
 }
 #header-main span {
 	margin-top: 0;
 	font-size: 12px;
 }

 .idea {
 	margin: 10px 0 0 0;
 	
 	border: 1px solid #d8d8d8;
 	background: #f9f9f9;
 	-moz-border-radius: 4px;
 	-webkit-border-radius: 4px;
 	border-radius: 4px;
 	-moz-box-shadow: inset 0 0 0 1px #fff;
 	-webkit-box-shadow: inset 0 0 0 1px #fff;
 	box-shadow: inset 0 0 0 1px #fff;
 }

 .idea-content {
 	padding: 8px;
 	height: 150px;
 	position: relative;
 }

 .idea header {
 	min-height: 50px;
 	border-bottom: 1px dashed #ccc;
 	overflow: hidden;
 }

 .idea h3 {
 	font-size: 15px;
 	line-height: 18px;
 	margin-top: 3px;
 }

 .user-img {
 	float:left;
 	margin:5px;
 	width: 25px;
 }

 #full-idea .comment {
 	color: #000;
 	margin: 10px 10%;
 	padding: 10px;
 	border: 1px solid #ededed;
 	background: #f9f9f9;
 	-moz-border-radius: 4px;
 	-webkit-border-radius: 4px;
 	border-radius: 4px;
 	-moz-box-shadow: inset 0 0 0 1px #fff;
 	-webkit-box-shadow: inset 0 0 0 1px #fff;
 	box-shadow: inset 0 0 0 1px #ccc;
 }



 #full-idea .comment .user-img {
 	float:left;
 	margin:10px;
 	width: 35px;
 }

 .clear {
 	clear: both; 	
 }

 #footer-main{
 	margin-top: 10px;
 	font-size: 10px;
 }


 .group-comments{
 	margin-top: 20px;
 	display: none;
 }

 .box {
 	margin: 0 0 20px; 
 	padding: 20px 0 0; 

 	border: 1px solid #d8d8d8; 
 	background: #f9f9f9;

 	-moz-border-radius: 4px; 
 	-webkit-border-radius: 4px; 
 	border-radius: 4px; 
 	-moz-box-shadow: inset 0 0 0 1px #fff;
 	-webkit-box-shadow: inset 0 0 0 1px #fff;
 	box-shadow: inset 0 0 0 1px #fff; 
 }

 .percentage-votes-bar,
 .percentage-votes-values ul {
 	display: table;
 	width: 100%;
 	height: auto;
 	line-height: 12px;
 	white-space: nowrap;
 	overflow: hidden;
 	border-bottom-left-radius: 3px;
 	border-bottom-right-radius: 3px;
 }
 .percentage-votes-bar{
 	background-color:#5bb75b;
 }

 .percentage-votes-bar .percentage-vote {
 	height: auto;
 	line-height: 12px;
 	vertical-align: top;
 	display: inline-block;
 	text-indent: -9999px;
 }


 .percentage-votes-values{
 	display: none;
 	position: absolute;
 	bottom: 0;
 	left: 0;
 	width: 100%;

 	color: rgb(96, 96, 96);
 	border-top: solid 1px rgb(183, 183, 183);
 	background: rgb(255, 255, 255);
 	background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgb(237, 237, 237)));
 	background: -moz-linear-gradient(top, rgb(255, 255, 255), rgb(237, 237, 237));
 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
 }

 .percentage-votes-values ul{
 	margin: 0;
 	border-radius: 0;
 	border: 0;
 }

 .percentage-votes-values ul li{
 	width: 50%;
 	height: auto;
 	line-height: 12px;
 	vertical-align: top;
 	display: inline-block;
 	text-align: center;
 	padding: 3px 0;
 }

 .amount-vote, .amount-vote-percentage{
 	vertical-align: middle;
 }
 .amount-vote{
 	font-weight: bold;
 }

 .amount-vote-percentage{
 	font-size: 10px;
 }

 #wrapper-full-idea{
 	display: none;
 }

 #full-idea{
 	background: #222;
 	color: #d6d6d6;
 	padding: 10px;

 	border: 1px solid #000;
 	-moz-border-radius: 4px;
 	-webkit-border-radius: 4px;
 	border-radius: 4px;
 	-moz-box-shadow: inset 0 0 0 1px #636363;
 	-webkit-box-shadow: inset 0 0 0 1px #636363;
 	box-shadow: inset 0 0 0 1px #636363;

	/*border: 1px solid #000;
 	background: #f9f9f9;
 	-moz-border-radius: 4px;
 	-webkit-border-radius: 4px;
 	border-radius: 4px;
 	-moz-box-shadow: inset 0 0 0 1px #fff;
 	-webkit-box-shadow: inset 0 0 0 1px #fff;
 	box-shadow: inset 0 0 0 1px #fff;*/
 }


 #full-idea header {
 	min-height: 80px;
 	border-bottom: 1px dashed #ccc;
 	color: #fff;
 	overflow: hidden;
 }

 #full-idea .user-img {
 	float:left;
 	margin:10px;
 	width: 60px;
 }

 .idea-description{
 	padding: 5px 0;
 	min-height: 100px;
 }

 .do-you-like-bar{
 	
 }

 .do-you-like-bar span {
 	color: #fff;
 	font-weight: bold;
 }


 #arrow {
 	border-bottom: 10px solid rgb(34, 34, 34);
 	border-left: 10px solid rgba(0, 0, 0, 0);
 	border-right: 10px solid rgba(0, 0, 0, 0);
 	height: 0;
 	width: 0;
 	margin-left: 20px;
 }

 .btn-comments{
 	float: right;
 	margin:0 5px;
 	font-weight: bold;
 }

 .btn-comments:hover{
 	text-decoration: none;
 	color: #fff;
 }

 .new-comment {
 	margin: 10px 15%;
 	padding: 10px 0;
 }

 .new-comment h4{
 	color: #fff;
 }

 .new-comment textarea {
 	width: 100%;
 	min-height: 75px;
 }


  /*.tooltip-inner{
  	background-color: #fff; 
  }
    .tooltip.top .tooltip-arrow{
    	border-top-color: #fff; 
    };
    .tooltip.right .tooltip-arrow{
    	border-right-color: #fff; 
    };
    .tooltip.left .tooltip-arrow{
    	border-left-color: #fff; 
    };
    .tooltip.bottom .tooltip-arrow{
    	border-bottom-color: #fff; 
    };*/